        <div class="shopping-header">
            <div class="container">
                <div class="shopping-navbar">
                    <div class="shopping-logo">
                       <a href="" class="logo-name">REGENERATE CLOTHING</a><br>
                       <a href="" class="logo-tagline">REDESIGN YOU</a>
                    </div>
                 <nav>
                    <ul id="ShoppingMenuProducts">
                        <li class="cursor-pointer"><a href="">Home</a></li>
                        <li class="cursor-pointer"><a (click)="openProductsSection()">Products</a></li>
                        <li class="cursor-pointer"><a (click)="openAboutPage()">About</a></li>
                        <li class="cursor-pointer"><a (click)="openAdminPage()">Admin</a></li>
                    </ul>
                 </nav>
                 <a class="cursor-pointer" (click)="openShoppingCartDetails()"><img src="./../../../../assets/images/cart.png" alt="cart icon" width="30px" height="30px"></a>
                <img src="./../../../../assets/images/menu.png" class="shopping-menu-icon cursor-pointer" (click)="shoppingMenuToggle()">
                </div>
        </div>
  </div>